/* Start Global style*/
body {
	padding-top: 54px;
}

@media(min-width: 992px) {
	body {
		padding-top: 56px;
	}
}

.carousel-item {
	height: 65vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.portfolio-item {
	margin-bottom: 30px;
}
/*  End Global style*/

/*navigation background color*/

.bg-dark {
	background-color: maroon!important;
}

/*call to action button hover state */

.btn-secondary:hover {
	color: #fff;
	background-color: #000080;
	border-color: #000080;
}

/*button hover state */

.btn-primary:hover {
	color: #fff;
	background-color: #000080;
	border-color: #000080; 
}